<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>NB_Template_Insight</title>
</head>
<body style="font-family:'Times New Roman', Times, serif; font-size:12pt; line-height:1.35; color:#000000; margin:0; padding:0;">
<div style="font-family:'Times New Roman', Times, serif; font-size:12pt; line-height:1.35; color:#000000;">
<p style="margin:0 0 12pt 0;">Dear Prof. Aaaaa,</p>
<p style="margin:0 0 12pt 0;">Congratulations on the publication of your excellent paper in <em>Jjjjj</em>, titled <strong><em>“Ttttt”</em></strong>.</p>
<p style="margin:0 0 12pt 0;"><strong><em>Neuroscience Bulletin</em></strong> aims to publish research advances in the field of neuroscience and promote the exchange of scientific ideas within the community. Inviting leading neuroscientists to review significant developments in their research field is one essential way to achieve that. For your cutting-edge work in the field of “Fffff”, we cordially invite you to submit an Insight to NB to discuss recent advances in this field.</p>
<p style="margin:0 0 12pt 0;">For Insight, the article should contain a discussion of recent primary research literature similar to the Review. However, the main text of Insight is shorter (no more than 2,000 words, excluding the reference and title) and focuses on a narrower scope. It is possible that in an Insight, authors advocate a position on a controversial issue or a speculative hypothesis. One schematic illustration is allowed to make the Insight more comprehensive. References are limited to 20.</p>
<p style="margin:0 0 12pt 0;"><strong><em>Neuroscience Bulletin</em></strong>, the official journal of the Chinese Neuroscience Society, is published monthly by the Center for Excellence in Brain Science and Intelligence Technology (CEBSIT), the Chinese Academy of Sciences (CAS), and Springer. <em>Neuroscience Bulletin</em> welcomes research contributions on molecular, cellular, or developmental neuroscience using multidisciplinary approaches and functional strategies. The journal is recognized as the most influential publication in neuroscience research in China. The latest <strong>impact factor</strong> released by the Science Citation Index (SCI) is <strong>5.8</strong> and ranked <strong>Q1</strong> in Journal Citation Reports (JCR). More information about <em>Neuroscience Bulletin</em> can be found <a href="http://www.neurosci.cn/journalinformation/aboutthejournal/" style="color:#0563C1; text-decoration:underline;">here</a>.</p>
<p style="margin:0 0 12pt 0;">Pppppno If you accept this offer and would like to contribute an Insight, <strong>please reply to our editorial office before submission (<a href="mailto:nsb@ion.ac.cn" style="color:#0563C1; text-decoration:underline;">nsb@ion.ac.cn</a>)</strong>. I would like to propose a deadline of <strong>Dddddin</strong>, although I would be happy for you to suggest an alternative if this does not fit well with your busy schedule.</p>
<p style="margin:0 0 12pt 0;">Your contribution is crucial for <strong><em>Neuroscience Bulletin</em></strong>’s development going forward. We sincerely thank you for your present/future participation! If you have any questions or if we can provide any further information to help you decide, please don’t hesitate to get in touch. Thanks!</p>
<p style="margin:0 0 12pt 0;">Sincerely,</p>
<p style="margin:0 0 0 0;">Shumin Duan</p>
<p style="margin:0 0 0 0;">Professor, Editor-in-Chief</p>
<p style="margin:0 0 0 0;">---------------------------------------------------------------------------</p>
<p style="margin:0 0 0 0;"><em>Neuroscience Bulletin</em></p>
<p style="margin:0 0 0 0;">319 Yue Yang Road, Room 612, Building 8, Shanghai 200031, China</p>
<p style="margin:0 0 0 0;">Phone: +86-21-64032273; 64170853; 64032696</p>
<p style="margin:0 0 0 0;">E-mail: <a href="mailto:nsb@ion.ac.cn" style="color:#0563C1; text-decoration:underline;">nsb@ion.ac.cn</a></p>
<p style="margin:0 0 0 0;"><a href="http://www.neurosci.cn" style="color:#0563C1; text-decoration:underline;">http://www.neurosci.cn</a></p>
</div>
</body>
</html>