<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>NB_Template_Review_Yes</title>
</head>
<body style="font-family:'Times New Roman', Times, serif; font-size:12pt; line-height:1.35; color:#000000; margin:0; padding:0;">
<div style="font-family:'Times New Roman', Times, serif; font-size:12pt; line-height:1.35; color:#000000;">
<p style="margin:0 0 12pt 0;">Dear Prof. Aaaaa,</p>
<p style="margin:0 0 12pt 0;">Congratulations on the publication of your excellent paper in <em>Jjjjj</em>, titled <strong><em>“Ttttt”</em></strong>.</p>
<p style="margin:0 0 12pt 0;"><strong><em>Neuroscience Bulletin</em></strong> aims to publish research advances in the field of neuroscience and promote the exchange of scientific ideas within the community. Inviting leading neuroscientists to review significant developments in their research field is one essential way to achieve that. For your cutting-edge work in the field of “Fffff”, we cordially invite you to submit a review to NB based on your research area.</p>
<p style="margin:0 0 12pt 0;">For review articles published in <em>Neuroscience Bulletin</em>, the authors are expected to cover controversies in the field and propose their own viewpoints in an unbiased and justifiable way. In particular, the scope of the review should not be dominated by the authors’ own work. Reviews are usually 5,000 to 8,000 words in length (including an abstract of no more than 150 words, excluding the reference and title), and 3–6 schematic illustrations are strongly encouraged. More information about manuscript submission and preparation can be found <a href="http://www.neurosci.cn/forauthors/instructionstoauthors/" style="color:#0563C1; text-decoration:underline;">here</a>.</p>
<p style="margin:0 0 12pt 0;"><strong><em>Neuroscience Bulletin</em></strong>, the official journal of the Chinese Neuroscience Society, is published monthly by the Center for Excellence in Brain Science and Intelligence Technology (CEBSIT), the Chinese Academy of Sciences (CAS), and Springer. <em>Neuroscience Bulletin</em> welcomes research contributions on molecular, cellular, or developmental neuroscience using multidisciplinary approaches and functional strategies. The journal is recognized as the most influential publication in neuroscience research in China. The latest <strong>impact factor</strong> released by the Science Citation Index (SCI) is <strong>5.8</strong> and ranked <strong>Q1</strong> in Journal Citation Reports (JCR). More information about <em>Neuroscience Bulletin</em> can be found <a href="http://www.neurosci.cn/journalinformation/aboutthejournal/" style="color:#0563C1; text-decoration:underline;">here</a>.</p>
<p style="margin:0 0 12pt 0;">Pppppyes If you accept this offer and would like to contribute a review, <strong>please reply to our editorial office before submission (<a href="mailto:nsb@ion.ac.cn" style="color:#0563C1; text-decoration:underline;">nsb@ion.ac.cn</a>)</strong>. I would like to propose a deadline of <strong>Dddddre</strong>, although I would be happy for you to suggest an alternative if this does not fit well with your busy schedule.</p>
<p style="margin:0 0 12pt 0;">Your contribution is crucial for <strong><em>Neuroscience Bulletin</em></strong>’s development going forward. We sincerely thank you for your present/future participation! If you have any questions or if we can provide any further information to help you decide, please don’t hesitate to get in touch. Thanks!</p>
<p style="margin:0 0 12pt 0;">Sincerely,</p>
<p style="margin:0 0 0 0;">Shumin Duan</p>
<p style="margin:0 0 0 0;">Professor, Editor-in-Chief</p>
<p style="margin:0 0 0 0;">---------------------------------------------------------------------------</p>
<p style="margin:0 0 0 0;"><em>Neuroscience Bulletin</em></p>
<p style="margin:0 0 0 0;">319 Yue Yang Road, Room 612, Building 8, Shanghai 200031, China</p>
<p style="margin:0 0 0 0;">Phone: +86-21-64032273; 64170853; 64032696</p>
<p style="margin:0 0 0 0;">E-mail: <a href="mailto:nsb@ion.ac.cn" style="color:#0563C1; text-decoration:underline;">nsb@ion.ac.cn</a></p>
<p style="margin:0 0 0 0;"><a href="http://www.neurosci.cn" style="color:#0563C1; text-decoration:underline;">http://www.neurosci.cn</a></p>
</div>
</body>
</html>